:root{

--backgroundC: #eee7d6;
--textC: #709c58;
--linksC: #6c512c;
--linksHoverC: #5e4626;
--footerC: #a6c496;

--font: Georgia;
--fontBody: Verdana;
--titleSize: 25px;
--postTitleSize: 18px;
--bodySize: 11px;
}

h1 { 
color: var(--textC); 
padding-top:30px; 
font-weight: normal; 
font-size: var(--titleSize); 
text-transform: uppercase; 
font-family: var(--font); 
line-height: -4px;
text-align: center;
}

h1 a {
color:var(--textC);
}

body {
margin: 0; 
height: 100%;
background-color: var(--backgroundC); 
color: var(--textC);
font-size: var(--bodySize);
font-family:var(--fontBody); 
line-height: 14px; 
padding: 50px 0 200px 0; 
}

a {
color: var(--linksC); 
text-decoration:none;
}

a:hover { 
color: var(--linksHoverC); 
text-decoration: underline;
-webkit-transition-duration: 1s; 
}

a.title {
color: var(--linksC); 
text-decoration:none;
}

#grid {
display: grid;
gap: 10px;
padding: 10px;
grid-template-rows: 100% auto;
}

.header {
width: 100%;
margin: auto auto; 
}

.links {
width: 100%;
margin: auto auto; 
text-align: center;
padding-bottom: 30px;
}

.footer {
position: relative;
bottom: 0px;
width: 100%;
background-color: var(--footerC);
color: var(--linksC);
text-align: center;
height: 60px;
}
